<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
</head>
<body>
    <h1 style="text-align:center ;">Counter</h1>
    <p style="text-align:center ;">{{session['counter']}} times</p>
            <div style="text-align:center; display:flex; margin-left: 45.5%;">
                <form action="/add" method="post">
                    <button  style="background-color: pink; color: aliceblue;">Add 2 visits</button>
                </form>
                <form action="/destroy" method="post">
                    <button  style="background-color: green; color: aliceblue ; margin-left: 10px;">Reset</button>
                </form>
                </div>

</body>
</html>